img {
  width: 100%;
}

.register-log {
  height: 100vh;
}

.load-adjust {
  height: 85vh
}

.p-counter {
  margin: 0px;
} 

.landing {
  background: url('img/perspective.JPG');
  background-size: cover;
  background-position: 50% 35%;
  height:100vh;
}

.neutral {
  background: none;
}

.landing-inner {
  padding-top: 60px;
}

.check-align {
  align-items: center;
}

.comment-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-display {
  padding: 10px 20px;
}

.card-mods {
  display: flex;
  flex-direction: row;
}

.card-space {
  padding: 10px;
}

.white-space {
  white-space: pre-wrap;
}