// For selector specific to the Landing component.

.landing {
  background: url('../img/perspective.JPG');
  background-size: cover;
  background-position: 50% 35%;
  height:100vh;
}

.landing-inner {
  padding-top: 60px;
}