// For selector specific to the Landing component.

.landing {
  background: url('../img/perspective.JPG');
  background-size: cover;
  background-position: 50% 35%;
  height: 90vh;
  padding-top: 60px;
}

@media(max-width: 576px){
  .landing {
    height: 80vh;
  }
}